/*
此样式用于屏蔽广告。因为js代码运行速度太慢，为了尽可能的快速屏蔽，先在样式中默认屏蔽广告，再在js代码中判断是否需要显示
*/
.img_wrap,
.firework-wrap,
.tbui_aside_float_bar,
.topic_list_box,
#video_frs_head,
.my_app,
.celebrity,
#pagelet_frs-header\/pagelet\/head_content_middle,
.head_ad_pop,
.iframe_wrapper,
.novel-ranking-frs-body, /*百度小说人气榜*/
.thread_recommend,
#video_aside, /*视频推荐*/
#tieba-notice, /*贴吧警示*/
.plat_head_v2_unmain_wrapper, /*b吧头*/
.u9_aside, /*热门卡包*/
#duoku_servers_list_wrapper, /*游戏列表*/
.forbid-speech-banner, /*提示禁止条*/
.save_face_bg, /*回复右上角挽尊标识*/
#pb_adbanner, /*帖子内部顶条广告*/
.app_iframe, /*百度小说贴吧吧顶部的最新排行,捧场动态, 读者贡献榜*/
.live_show_aside, /*宅男杀手*/
.app_forum_top_nav_join_vip, /*会员官网*/
.hover_btn {
    display: none !important;
}

.card_top_wrap {
	margin-top: 50px; /*修复顶部广告消失后的无间隔问题*/
}


/* toolbar 美化 start*/
/*.search_main_fixed {
	background-color: rgb(52, 152, 219) !important;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px !important;
	border-bottom: 0 !important;
}

.search_main_fixed > search_form_fixed {
	padding-top: 12px !important;
}

#search_logo_small {
	background: url(http://tb2.bdstatic.com/tb/img/search_logo_small_342bc2a.png) no-repeat 0 0 !important;
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
	visibility: hidden !important;
}

.senior-search-link {
	color: white !important;
	margin-top: 3.5px !important;
}

.search_btn_fixed {
	background-image: url('') !important;
}

.search_btn_fixed {
	color: white !important;
	margin-left: 0 !important;
	box-shadow: 0 !important;
	border: 0 !important;
}

.search_ipt_fixed {
	background: transparent !important;
	color: white !important;
	border-bottom: 1px solid rgba(255, 255, 255, 100) !important;
}

.search_form_fixed .senior-search-link {
	top: 0px !important;
}

.senior-search-link {
	font-size:12px !important;
	text-decoration: none !important;
}*/
/* toolbar 美化 end*/



